$toolbar-border-radius: 4px;
$theme-color: #1AD2E5;
$color-gray: #888888;
$color-font: #666666;
$transition-duration: .3s;

body {
  .surf-toolbar {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -40.25em;
    background-color: white;
    color: $color-font;
    box-shadow: 0 0 4px 2px rgba(black, .2);
    border: 1px solid $theme-color;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: $toolbar-border-radius;
    user-select: none;
    display: flex;
    align-items: stretch;
    font-size: 12px;
    padding: 0 .4em;
    opacity: .8;
    transition: right $transition-duration, opacity $transition-duration, background-color $transition-duration;
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
    line-height: 1.2em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    a {
      text-decoration: none;
      font-weight: normal;
      color: $color-font;
    }

    &:hover {
      right: 0;
      opacity: 1;

      .surf-link {
        .surf-body {
          display: flex;
          height: 6em;
        }
      }
    }

    &.surf-new {
      background-color: $theme-color;
    }

    .surf-logo {
      align-self: flex-start;
      display: block;
      height: 1.8em !important;
      margin-top: .4em;
      margin-right: .2em;
    }

    .surf-link {
      min-width: 0;
      max-width: 20em;
      display: flex;
      flex-direction: column;
      padding: .25em;

      &:hover {
        .surf-header {
          color: $theme-color;
        }
      }

      .surf-header {
        min-width: 0;
        height: 2em;
        display: flex;
        align-items: center;

        .surf-shortcut {
          background-color: $color-gray;
          color: white;
          padding: .1em .2em;
          border-radius: .2em;
          margin-right: .2em;
          white-space: nowrap;
        }

        .surf-icon {
          flex-shrink: 0;
          width: 1.8em;
          height: 1.8em;
          border-radius: .2em;
          overflow: hidden;
          margin-right: .4em;
        }

        .surf-title {
          min-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: bold;
        }
      }

      .surf-body {
        height: 0;
        transition: height $transition-duration;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;

        .surf-description {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          margin-bottom: .5em;
        }

        .surf-visited {
          font-style: italic;
        }
      }
    }

    .surf-fixed {
      display: flex;
      align-items: stretch;
    }

    .surf-collapsable {
      width: 40em;
      overflow: hidden;
      display: flex;
      align-items: stretch;
      flex: 1;

      .surf-link {
        flex: 1;
      }
    }
  }
}
